body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f0f0f0;
    color: #333;
}

h1 {
    color: #b22222;
}

nav button {
    margin-right: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

.song-card {
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #ccc;
}

button {
    margin-top: 5px;
    margin-right: 5px;
}
